@import "variables.css";



@media screen and (min-width: 1280px) {
  header.navbar {
    padding: 0 5.75rem;
  }

}

@media screen and (max-width: 1280px) {
  header.navbar {
    padding: 0 $smallPadding;
  }

}

header.navbar {
  color: white;
  background-color: $cyanDark;
  height: 5rem;

  h2 {
    color: white;
    margin: 0;
  }

  a {
    white-space: nowrap;
    text-decoration: none;
  }

  #navbar-links a {
    margin: 0 $smallPadding;
    line-height: 4.75rem;
  }

  #navbar-links a.active {
    border-bottom: .25rem solid white;

  }

}

.btn.cta-link {
  background-color: $cyanDark;
  border-radius: 28px;
  font-size: $baseFontSize;
  line-height: 2.75rem !important;
  height: 2.75rem;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0 $smallPadding;
  text-align: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.btn.cta-link:hover {
  background-color: $cyanPrimary;
}
