.icn.icn-search::before {
	color: white;
	fill: white;
	margin-bottom: -10px;
	content: url(../images/Icon_Search_16px.svg);
}

.icn.icn-download::before {
	color: white;
	fill: white;
	margin-bottom: -4px;
	content: url(../images/Icon_Download_16px.svg);
}
