@import "variables.css";

.search-box {
    background: $backgroundTint1;
}

.search-tips {
    margin: $mediumPadding 0;
}

.search-tips .btn.help {
  background-color: $cyanPrimary;
  margin-top: 0;
}

.insights {
    padding: $mediumPadding 0;
}

.feedback-box {
	background-color: $backgroundTint2;
	padding: $smallPadding;
}
