/*
 * Colors and typefaces
 */


/*
 * Colors
 */
$cyanLight: #009BB2;
$cyanPrimary: #006272;
$cyanDark: #005361;

$backgroundTint1: #F1FCFD;
$backgroundTint2: #DCF4F9;
$backgroundTint3: #BEEBF4;

$greyLight: #CCCCCC;
$greyLink: #767676;
$greyDark: #292929;


/*
 * Fonts
 */

:root {
    font-size: 16px;
}

$h1FontSize: 2rem;
$h2FontSize: 1.5rem;
$h3FontSize: 1.25rem;
$h4FontSize: 1rem;
$baseFontSize: 1rem;

@font-face {
    font-family: Wellcome;
    /* NB: this will be inlined by postcss-url */
    src: url("./wellcome-bold-webfont.woff2") format("woff2");
}

/*
 * Common spacings
 */

$guidePadding: 5.75rem;
$heroPadding: 2.5rem;
$mediumPadding: 1.5rem;
$smallPadding: 1rem;
