{% extends 'base.html' %}


{% block header %}

<header class="navbar">
  <section class="navbar-section">
        <a href="/" class="navbar-brand"><h2>Reach</h2></a>
  </section>
  <section class="navbar-section hide-md" id="navbar-links">
    <a href="/about" class="a-light">About Reach</a>
    <a href="/how-it-works" class="a-light active">How Reach works</a>
    <a href="/search/citations" class="a-light">Discover citations</a>
    <a href="/search/policy-docs" class="a-light">Browse policy documents</a>
  </section>
</header>

{% endblock %}

{% block main %}

<section id="breadcrumbs">
  <div class="breadcrumb-box">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">How Reach works</li>
    </ul>
  </div>
</section>

<hr class="fs">
<section id="how-it-works-page">
    <div class="container">
      <div class="columns">
        <div class="column col-3 hide-md"></div>
        <div class="column col-6 col-md-12 text-center">
          <h1>How Reach works</h1>
          <h3>Reach searches through thousands pf policy documents, extracts the references, and checks them against scientific publications.</h3>
        </div>
        <div class="column col-3 hide-md"></div>
      </div>
      <hr class="fs">
      <hr class="fs">
      <div class="columns">
        <div class="column col-3 col-md-12 text-center">
          <img src="/static/images/Icon_How_Download_160px.svg" alt="">
        </div>
        <div class="column col-6 col-md-12">
          <h2>1. Download</h2>
          <p>A piece of software called a ‘scraper’ is used to extract documents from the websites of the organisations we have selected. The scraper navigates through a website and clicks on all the links. Where a link leads to a PDF it is downloaded and the text is extracted and stored in the cloud.</p>
        </div>
        <div class="column col-3 hide-md"></div>
      </div>
      <hr class="fs">
      <div class="columns">
        <div class="column col-3 col-md-12 text-center">
          <img src="/static/images/Icon_How_Extract_160px.svg" alt="">
        </div>
        <div class="column col-6 col-md-12">
          <h2>2. Extract</h2>
          <p>The text extracted from each PDF is divided into sections and the references section is extracted. An algorithm identifies sections by looking for titles in the text. When the titles have been identified, they are scanned for words like ‘references’, ‘bibliography’ or ‘end notes’. Sections of text with titles containing these words are selected for the next stage.</p>

          <p>The extracted references sections are split into individual references using machine learning. A machine learning algorithm identifies the start and end of a reference and divides the reference section into individual references.</p>

          <p>This step converts the raw text data into a structured form by extracting the individual parts of a reference. A reference is made up of a number of parts, such as the author, publication date, journal and the title of the publication. A machine learning algorithm identifies each part of each reference and adds it to a structured data set. </p>
        </div>
        <div class="column col-3 hide-md"></div>
      </div>
      <hr class="fs">
      <div class="columns">
        <div class="column col-3 col-md-12 text-center">
          <img src="/static/images/Icon_How_Match_160px.svg" alt="">
        </div>
        <div class="column col-6 col-md-12">
          <h2>3. Match</h2>
          <p>Once the parts of each reference have been extracted into a structured data set, that data set is compared with the EPMC database of scientific publications. References with the same title as a publication in EPMC are matched. This step checks that Reach has identified scientific publications from the downloaded PDFs. </p>
        </div>
        <div class="column col-3 hide-md"></div>
      </div>
    </div>
</section>
<hr class="fs">

{% endblock %}
