{% extends 'base.html' %}

{% block header %}
<header class="navbar">
  <section class="navbar-section">
        <a href="/" class="navbar-brand"><h2>Reach</h2></a>
  </section>
  <section class="navbar-section hide-md" id="navbar-links">
    <a href="/about" class="a-light">About Reach</a>
    <a href="/how-it-works" class="a-light">How Reach works</a>
    <a href="/search/citations" class="btn cta-link">Discover citations</a>
    <a href="/search/policy-docs" class="btn cta-link">Browse policy documents</a>
  </section>
</header>
{% endblock %}

{% block main %}


<section id="hero">
  <div class="container">
    <hr class="hs">
    <div class="columns">
      <div class="column col-3 hide-md"></div>
      <div class="column col-6 col-md-12 text-center">
        <h1>Explore the reach of scientific research in policy</h1>
      </div>
      <div class="column col-3 hide-md"></div>
      <hr class="fs">
      <div class="column col-12 text-center">
        <a class="btn btn-primary btn-round btn-xl" href="#search-reach">Get Started</a>
      </div>
    </div>
    <hr class="fs">
    <div class="columns">
      <div class="column col-2 hide-md"></div>
        <div class="column col-8  col-md-12">
          <div class="hero-picture text-center"></div>
        </div>
      <div class="column col-2 hide-md"></div>
      <div class="column col-12 text-center"><img src="/static/images/icon_Scroll-arow_.svg" alt=""></div>
    </div>
  </div>
</section>

<section id="search-reach">
    <div class="container">
      <hr class="fs">
      <hr class="fs">
      <div class="columns">
        <div class="column col-2 hide-md"></div>
        <div class="column col-4 col-md-12">
          <img src="/static/images/Illustration_Glass.svg" alt="">
        </div>
        <div class="column col-4 col-md-12">
          <h4>Discover</h4>
          <h3>Find how policy documnets are citing research publications</h3>
          <p>We use software and machine learning to find where over 1.1 million research publications have been cited in policy documents.</p>
          <a href="/search/citations" class="btn btn-primary btn-round btn-xl">Find citations</a>
        </div>
        <div class="column col-2 hide-md"></div>
      </div>
      <hr class="fs">
      <div class="columns">
        <div class="column col-2 hide-md"></div>
        <div class="column col-4 col-md-12">
          <h4>Explore</h4>
          <h3>Browse over 129k policy documents that are being used to influence policy</h3>
          <p>Reach allows you to search through policy documents from a wide range of organisations including UNICEF, MSF, NICE, WHO and the UK Parliament.</p>
          <a href="/search/policy-docs" class="btn btn-primary btn-round btn-xl">Browse policy documents</a>
        </div>
        <div class="column col-4 col-md-12">
          <img src="/static/images/Illustration_Papers.svg" alt="">
        </div>
        <div class="column col-2 hide-md"></div>
      </div>
    </div>
</section>

<section id="about-reach">
    <div class="container">
      <hr class="fs">
      <hr class="fs">
      <div class="columns">
        <div class="column col-3 hide-md"></div>
        <div class="column col-6 col-md-12 text-center">
          <h4>About Reach</h4>
          <hr class="hs">
          <h3>Reach aims to make it easier to track how scientific research influences policy and to analyse trends in the use of scientific research in policy.</h3>
          <hr class="hs">
        </div>
        <div class="column col-3 hide-md"></div>
      </div>
      <div class="columns">
        <div class="column col-4 col-md-12">
          <div class="text-center">
            <img src="/static/images/Icon_About_Open-source_100px.svg" alt="">
            <hr class="hs">
            <h3>Open Source</h3>
          </div>
          <p>Reach's code is entirely open sources! You can check it out on our <a href="https://github.com/wellcometrust/reach" target="_blank">Github Repository.</a></p>
        </div>
        <div class="column col-4 col-md-12">
          <div class="text-center">
            <img src="/static/images/Icon_About_Accuracy_100px.svg" alt="">
            <hr class="hs">
            <h3>Accuracy</h3>
          </div>
          <p>Reach uses software and machine learning to process thousands of policy documents. Machine learning is not 100% accurate as it is based on probability. We are constantly working on Reach to improve its accuracy. </p>
        </div>
        <div class="column col-4 col-md-12">
          <div class="text-center">
            <img src="/static/images/Icon_About_Transparent_100px.svg" alt="">
            <hr class="hs">
            <h3>Transparency</h3>
          </div>
          <p>{{ lipsum(n=1, html=True, min=20, max=50) }}</p></div>
      </div>
      <div class="columns">
        <div class="column col-12 text-center">
          <a href="/about" class="btn btn-light btn-round btn-xl">Learn more about Reach</a>
        </div>
      </div>
    </div>
</section>

<section id="about-us" class="bg2">
  <div class="container">
    <hr class="fs">
    <hr class="fs">
    <div class="columns">
      <div class="column col-3 hide-md"></div>
      <div class="column col-6 col-md-12 text-center">
        <h4>How Reach works</h4>
        <hr class="hs">
        <h3>Reach searches through thousands of policy documents, extracts the references, and checks them against scientific publications.</h3>
      </div>
      <div class="column col-3 hide-md"></div>
    </div>
    <hr class="hs">
    <div class="columns">
      <div class="column col-4 col-md-12">
        <div class="text-center">
          <img src="/static/images/Icon_How_Download_160px.svg" alt="">
          <hr class="hs">
          <h3>1. Download</h3>
        </div>
        <p>Reach downloads PDF from a number of organisation websites</p>
      </div>
      <div class="column col-4 col-md-12">
        <div class="text-center">
          <img src="/static/images/Icon_How_Extract_160px.svg" alt="">
          <hr class="hs">
          <h3>2. Extract</h3>
        </div>
        <p>Using machine learning, the references from the PDF are extracted</p>
      </div>
      <div class="column col-4 col-md-12">
        <div class="text-center">
          <img src="/static/images/Icon_How_Match_160px.svg" alt="">
          <hr class="hs">
          <h3>3. Match</h3>
        </div>
        <p>The references are checked against the EPMC database of scientific publications</p></div>
    </div>
    <hr class="fs">
    <div class="columns">
      <div class="column col-12 text-center">
        <a href="/how-it-works" class="btn btn-white btn-round btn-xl">How Reach works</a>
      </div>
    </div>
    <hr class="fs">
  </div>
</section>
{% endblock %}

{% block footer %}
<footer class="home">
  <div class="container">
    <div class="columns">
      <div class="column col-10">
        {#- from static/w-avatar-pitch-1.svg, minified by https://jakearchibald.github.io/svgomg/
            Originally from the EPS in the Team Drive, from Chloe, SVG by Inkscape
         #}
         <img src="/static/images/wellcome-logo.svg" alt="Wellcome's logo" id="wellcome-logo"/>
        Created by <a href="#">Data Labs</a> at <a href="https://www.wellcome.ac.uk">Wellcome</a>
      </div>
      <div class="column col-1"><a href="/api/">Our API</a></div>
      <div class="column col-1"><a href="https://github.com/wellcometrust/reach" target="_blank">Github&nbspRepo</a></div>
    </div>
  </div>
</footer>
{% endblock %}
